<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Change user password</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>